<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'todo_app/style.css' %}">
<head>
    <meta charset="UTF-8">
    <title>List of tasks</title>
</head>
<body>
<h1>List of tasks</h1>
<a href="{% url 'create' %}">Create Task</a>
    <table> 
        <thead>
            <tr> 
                <th>Task Name</th>
                <th>Description</th>
                <th>Priority</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>Created</th>
                <th>Edited</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.task_name }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.priority }}</td>
                    <td>{{ task.deadline }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.created }}</td>
                    <td>{{ task.edited }}</td>
                    <td>
                        <a href="{% url 'update' task.id %}">Update</a>
                    </td>
                    <td>
                        <a href="{% url 'delete' task.id %}">Delete</a>
                    </td>
                        
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>